.containerAcoes {
  padding: 60px 8%;
  text-align: center;

  .topoAcoes {
    margin-bottom: 50px;
    h1 {
      font-size: 2.5rem;
      color: #1e4e8c; // Azul do modelo
      text-decoration: underline;
      margin-bottom: 15px;
    }
    p {
      max-width: 750px;
      margin: 0 auto;
      color: #555;
    }
  }
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Cria as 3 colunas
  gap: 40px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 15px;
      margin-bottom: 15px;
    }

    h3 {
      color: #1e4e8c;
      margin-bottom: 10px;
    }
    p {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 20px;
    }

    button {
      background-color: #2b5d95; // Azul dos botões
      color: white;
      border: none;
      padding: 10px 30px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #1e4e8c;
      }
    }
  }
}
@media (max-width: 768px) {
  .gridCards {
    grid-template-columns: 1fr; // Um card por linha
    gap: 20px;
  }

  .topoAcoes h1 {
    font-size: 1.8rem; // Diminui o título para não quebrar feio
  }
}