@import "../../global.scss";

.footerContainer {
  background-color: #1e4e8c; // O azul escuro do modelo
  display: flex;
  justify-content: space-between; // Espaça os 3 blocos (logo, texto e redes)
  align-items: center;
  padding: 20px 5%;
  color: white;
  width: 100%;

  .footerBrand {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 45px;
    } // Tamanho do logo
    .brandName {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .footerInfo {
    text-align: center;
    p {
      font-size: 0.8rem;
      margin: 2px 0;
    }
  }

  .footerSocial {
    display: flex;
    gap: 15px;
    img {
      width: 30px;
      filter: brightness(1); // Garante que os ícones coloridos apareçam
    }
  }
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 2rem 1rem;
  }
}